* {
  box-sizing: border-box;
}

#board {
  margin-top: 10px;
  text-align: center;
}

.square {
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
  height: 100px;
}

.square:hover {
  background-color: #eee;
}

.button-interface {
  text-align: center;
}
