* {
  box-sizing: border-box;
}

#board {
  text-align: center;
}

.square {
  border: 1px solid #ddd;
  cursor: pointer;
  user-select: none;
  height: 100px;
  font-size: 60px;
  transition: background-color 0.3s;
}

.square:hover {
  background-color: #eee;
}

.xColor {
  background-color: #dfd;
}

.oColor {
  background-color: #fdd;
}

.button-interface {
  text-align: center;
}

.yolo {
  background-color: red;
}

.turn-indicator {
  transition: background-color 0.3s, color 0.3s;
}

.turn-active {
  background-color: #99c;
  color: white;
}

.modal {
  text-align: center;
}
